@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
	box-sizing: border-box;
}

/* General */
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  text-align: center;
}

h1 {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}

h3{
	font-size: 12px;
}

img{
  width:100%;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}


.container{
	margin: auto;
	overflow: hidden;
}

/* Header */
.main-header {
	text-align: center;
	margin-bottom: 25px;
}

.main-nav{
	margin-bottom: 20px;
	font-size: 16px;
}

.main-nav li{
	/*background-color: rgba(97, 97, 97, 0.897);*/
	text-transform: uppercase;
}

.main-header img {
	width: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.nav-items a{
	color: darkslategray;
}

/* Footer */
.main-footer {
	margin-top: 50px;
	margin-bottom: 50px;
	color: gray;
}

.main-footer li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	
}

.icons{
	font-size:2em; 
	color: darkslategrey;
}

.copyright{
	font-size: 10px;
	margin-top: 25px;
	font-style: italic;
}

/* Login */

.form-login{
	margin: auto;
	margin-top: 50px;
	width: 98%;
	max-width: 500px;
	background: white;
	padding: 30px;
	border-radius: 6px;
  }
  
  .form-titulo {
	background: deepskyblue;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
  }

  .contenedor-inputs {
	padding: 10px 30px;
  }
  
  input{
	display: block;
	padding: 15px;
	width: 100%;
	margin: 30px 0;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
  }
  
  .boton-iniciar-sesión {
	background: crimson;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
  }

  .resset-password {
	padding: 5px;
	margin: 0;
  }
  
  .form-link {
	padding: 5px;
	margin: 0;
  }

  .boton-registrar {
	background: crimson;
	color: #fff;
	width: 100%;
  }

  .input-48 {
	width: 100%;
  }
  
  .input-100 {
	width: 100%;
  }

  select {
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
	}
	
	.titulos_otros{
		font-size: 18px;
	}

/* MEDIA QUERIES 
Tablet*/
@media(min-width:759px) {
	.main-nav ul {
		display: grid;
		grid-gap: 5px;
		padding: 0;
		list-style: none;
		grid-template-columns: repeat(4, 1fr);
		font-size: 12px;
	  }
	  .main-header img {
		width: 40%;
		margin-bottom: 25px;
	}
	.main-footer li{
		margin-left: 50px;
		margin-right: 50px;

	}

	form {
		width: 85%;
	  }

	.creacion_cuenta {
		text-align: center;
		margin-left: 130px;
		margin-right: 70px;
	}  
	
}

/* Desktop */
@media(min-width:1024px) {
.main-header {
	display: grid;
	text-align:center;
}
.main-header img {
	margin-top: 25px;
	margin-left:50px;
	width:20%;
}
.main-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 5px;
}

.main-nav ul{
	font-size: 13px;
	margin-left: 35px;
}

.main-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 200px;
	margin-right: 50px;
}

.main-footer li{
	margin-left: 50px;	
	margin-right: 50px;
}
.copyright{
	margin-left: 200px;
}

form {
	width: 100%;
  }

  .creacion_cuenta {
	  margin-left: 150px;
	  margin-right: 150px;
  }


}
